.slds-dropdown_large {
    /* background-color: aqua; */
    min-width: 700%;
}
.custom_input{
    width: 50px;
}

@media(min-width: 48em){
    .slds-modal__container {
        width: 100%;
        max-width: 50rem;
    }
}