.header {
    /* background: rgb(170, 0 ,255); */
    /* color: white; */
}

.game_container {
    width: 600px;
    height: 600px;
    /* background: rgb(193, 255 , 70); */
    border: 2px solid black;
}

.game_block {
    width: 40px;
    height: 40px;
    /* background: rgb(230, 250 , 190); */
    display: inline-block;
    border: 1px solid grey;
}

.snake {
    background: green;
}

.food {
    background: red;
}